/* FONTS */

* {
  font-family: 'Source Sans Pro', sans-serif;
}

.hero-text{
  font-size: 4em;
  font-family: 'Oxygen', sans-serif;
}

header {
    font-family: 'Oxygen', sans-serif;
}

h1.businessname {
  font-size: 3em;

}


/* OTHER STUFF */

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

  vertical-align: baseline;
  background: transparent;

}
a {
  color: white;
}
a:visited {
  color: white;
}

body {
  font-size: 20px;
}

.businessname {
  color:#F95738;
 }


.container {
  width: 100%;
}

.content {
  width: 80%;
  margin: auto;
  line-height: 1.2;
}
.content p {
  margin: 0 0 1% 0;
}

dl {
  line-height: 1.5;
}
dt {
  font-weight: bolder;
}

dd{
  margin-left: 3%;
}

dt::before {
  content: '\2022';
  color:#F95738;
}

footer {
  margin: 3% auto 0 auto;
  padding: 1%;
 border-top: 3px solid #EE964B;
  background:  
    linear-gradient(to right, rgba(0,0,0,0.85),  rgba(4,85,165,1)); 
  color: white;
  text-align: center;
}

.hero-image {
  /* The image used */
  background:
  linear-gradient(
    rgba(5,74,145, 0.45), 
    rgba(5,74,145, 0.45)), 
    url('./andrei-stratu-576842-unsplash.jpg'); 
  

  /* Set a specific height */
  min-height: 100%;
  margin: 0 0 5% 0;
  padding: 5% 3%;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-top: 5px solid #EE964B;
  border-bottom: 5px solid #EE964B;
}

.hero-text {
  margin: auto auto;
   width: 75%;
  color: white;
}

h1 {
  margin: 0 0;
  display: inline-block;
}

h2 {
  text-align: right;
  margin: 0 0 1% 0;
  color: #054A91;

}
header {
 padding: 0 0 1% 0;
    }
.headertext {
  margin: auto auto;
  width: 95%;

}
.hidden {
  display: none;
}
.readmoreless {
  color: #F95738;
  text-align: right;
}

main {
  height: 100%;
}

nav {
  border-bottom: 3px solid #EE964B;
  background:  
    linear-gradient(to right, rgba(0,0,0,0.85),  rgba(4,85,165,1)); 
  color: white;
  margin: 0 auto 1% auto;
  text-align: right;
}

nav ul li {

  display:inline-block;
  margin: 0 5%;
  padding: 1%;
 letter-spacing:2px;

}

nav ul li:hover {
  background-color: #EE964B;
  color: black;
}

.spanholder {
  display: inline-block;
}

.subhead {
  font-style: italic;
  text-align: right;
}

.transparent {
  zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.5;
}
  .testimonials {
    width: 75%;
    font-style: italic;
    margin: auto auto;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }
  .testimonials:before {
    color: #F95738;
    font-style: normal;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.05em;
    vertical-align: -0.4em;
  }
 
hr.style-two {
  width: 75%;
  margin: 3% auto;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(238,150,75, 0.75), rgba(0, 0, 0, 0));
}


