* {
  box-sizing: border-box;
  padding: 0;
}


html {min-height: 100%;
}

body {
  min-height: 100%;
  font-family: sans-serif;
  position: relative;
  font-size: 18px;
  padding: 0;
  margin: 0 0 50px 0;  
 
}

/*HERE BEGINS GRID CSS*/
/* Grid measurements:
 *
 *   960px wide including 12 gutters (half gutters on both edges)
 *
 *   60px columns (12)
 *   20px gutters (two half-gutters + 11 full gutters, so 12 total)
 *
 *
 *   For smaller screens, we always want 20px of padding on either side,
 *   so 960 + 20 + 20 => 1000px
 *
 **/
.row {
  max-width: 1000px;
  min-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

 Clearfix 
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-3, .col-4, .col-6,  .col-b, .col-12 {
  float: right;
  width: 100%;
    padding-left: 1.04166666%;
  padding-right: 1.04166666%;
  margin: 0 auto;

}



@media only screen and (max-width: 600px){
   .col-b, .col-3  {
background-color: orange;
    margin: 0 auto;
    width: 100%;

  }


}


/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  /* 3 columns, 3/12 in % */
   .col-3 {
    width: 25%;
     
  }

   .col-b {
    width: 75%;

    margin: 0 auto;
  }

  .vertical {
    position: relative;
    top: -45%;
    transform: translateY(45%);
  }

}


.bottombar {
     padding: 1% 5%;
 }

footer {
  position: fixed;
  bottom: 0;

}

button {
float: right;
font-size: inherit;
color:white;
display: inline;
height: 100%;
padding: 2em;
background-color: #054A91;
text-align: center;
border-radius: 30px;
box-shadow: 2px 8px 6px rgba(0,0,0,0.2),
0px -5px 35px rgba(255,255,255,0.3);
}

header {
padding: 0 0 1% 0;
border-radius: 10px;
  }

header h1, h2 {
  margin: 0 auto 0 auto;
  text-align: center;
font-family: 'Crimson Text', serif;
}


.introtext p {
  padding: 0 0 1% 0;
}



section {
  width: 100%;
  padding: 1%;
  margin: 1% 0 3%;

}

.testimonials {
  width: 50%;
  display: inline-block;
  border-left: 10px solid #054A91;
  margin: .5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
.testimonials:before {
  color: #054A91;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.05em;
  vertical-align: -0.4em;
}
.testimonials p {
  display: inline;
}






nav ul li {
   font-size: 1.5em;
  text-align: center;
  list-style-type: none;
  width: 85%;
  padding: 2em 0;
  margin: 1% auto;
  
  
}

nav ul li:hover {
  width: 100%;
}

/*LOGO ICON*/

.square-box{
  margin: 1% auto 0 auto;
    position: relative;
    width: 10%;
    overflow: hidden;
    background:#EE964B;

}
.square-box:before{
    content: "";
    display: block;
    padding-top: 100%;
}
.square-content{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
   
}
.square-content div {
   display: table;
   width: 100%;
   height: 100%;
}
.square-content span {
    display: table-cell;
    /* font-size: 2em; */
    text-align: center;
    vertical-align: middle;
    font-family: 'Poiret One', cursive;

}



/* ANIMATIONS */
/* 
.js-initial {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-right: 0;
    margin-top: 100%;
    width: 100%; 
  }

  to {
    margin-right: 0;
    margin-top: 0%;
    width: 100%;
  }
}
 */


/*COLORS {
*/  

body {
  background-color: inherit;
}

footer {
  border-top: 5px solid black;

 background-color: lightgray;
/* color: #ffffff; */
}


header {
  background-color: inherit;
  border-color: inherit;
}

nav ul li {
  border: 5px solid ;
  border-color: orange ;
  color: orange;
  
}

nav ul li:hover {
  border-radius: 30px;
  color:white;
  background-color: orange;
}

.businessname {
  color: #EE964B;
  font-size: 1.5em; 
}

